.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  padding-top: 10px;
}

select {
  width: 100%;
  padding: 8px 5px;
  font-family: inherit;
  border: 1px solid #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:not(.radio) {
  padding: 5px 5px;
  font-family: inherit;
  border: 1px solid #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  padding: 5px 5px;
  font-family: inherit;
  border: 0px solid;
  background-color: black;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
}

table {
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  border-bottom: 1px solid #444444;
  padding: 10px;
}

.black {
  color: black;
}

.crimson {
  color: crimson;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 90%;
}

.main-header-button {
  margin: 1px auto;
}

.item-container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #333;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 100px;
}

.item-container:hover {
  cursor: pointer;
  background-color: beige;
}

.item-all {
  display: block;
  height: 100px;
}

.item-image {
  float: left;
  margin-right: 10px;
  height: 100px;
  width: 100px;
}

.item-info {
  width: 90%;
}

.item-info-name {
  overflow: hidden;
  font-size: larger;
  font-weight: bolder;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-info-price {
  overflow: hidden;
  font-size: larger;
  font-weight: bolder;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: crimson;
}

.item-info-desc {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-detail {
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.item-detail-image {
  float: left;
  height: 400px;
  width: 400px;
  padding-top: 10px;
}

.container {
  border-top: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container-input {
  text-align: center;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
}

.order-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 380px;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  background-color: beige;
}

.select-box {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid black;
}

.select-option {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}
